{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Messages{% endblock %}

{% block head-postload %}

<link rel = "stylesheet" type = "text/css" href = "{% static 'messenger/css/msgStyle.css' %}" />

<!-- Include Bootstrap-select CSS, JS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>

<style type="text/css">
#bootstrapSelectForm .selectContainer .form-control-feedback {
    /* Adjust feedback icon position */
    right: -15px;
}
</style>



<script src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script src="{% static 'js/jquery.tablesorter.widgets.js' %}"></script>

<script>
$(document).ready(function(){
  $(function(){
    $('#sp_table').tablesorter();
  });
});

function showMsg(msgID, read){
  console.log(msgID);

  $('#msgspan' + msgID).removeClass('text-info').addClass('text-muted');
  $('#badge' + msgID).addClass('hidden');
  $('#msgReplyBox').removeClass('msgInactive')
  var unread_count = $('#msgBadgeDD').html();

  if(read==='False'){
      unread_count-=1;
      console.log(unread_count)
      if(unread_count===0){unread_count='';};
      $('#msgBadgeID').html(unread_count);
      $('#msgBadgeDD').html(unread_count);
  }


  $.ajax({
      type:"POST",
      url:"/messages/show_message/",
      data: {
        'msgID': msgID,
        'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
      },
      success:msgSuccess,
      dataType: 'html'
    });
}

function newMsg(){

  $.ajax({
      type:"GET",
      url:"/messages/write_message/",
      success:msgSuccess,
      dataType: 'html'
    });
}

function msgSuccess(data, textStatus, jqXHR){
  $('#msgDisplay').html(data);
}
</script>

{% endblock %}

{% block content %}

<h2>Inbox</h2>

<div class="row">
  <div class="col-md-12 newButton">
    <a href="#" onclick="newMsg()" class="btn btn-info pull-right"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> New message</a>
  </div>
</div>

<div class="row">
  {% csrf_token %}
  <div class="col-sm-4">
  <div class="msgList">
      <table class="table table-hover table-striped">
        {% for message in myMessages %}
        <tr>

          <td>
            {{message.sender.first_name}} {{message.sender.last_name}}
          </td>
          <td>
            <a href="#" onclick="showMsg({{message.id}}, '{{message.read}}')">{% if message.read == False %}<span class="text-info" id ="msgSpan{{message.id}}">{{ message.title }}</span> <span class="badge pull-right" id = "badge{{message.id}}">New</span>{% else %}<span class="text-muted" id="msgSpan{{message.id}}">{{message.title}}</span>{% endif %}</a>
          </td>

        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="col-sm-8 msgBox" id="msgDisplay">
    <div class="msgBox">
      <div class="msgTitle msgInactive">

      </div>
      <div class="msgBody msgInactive">

      </div>
    </div>
    <div class="msgReply msgInactive">

    </div>
  </div>
</div>
{% endblock %}
