<div class="msgBox">

<form class="form-horizontal" role="form" action="/messages/send/" method="post">{% csrf_token %}
  <div class="msgHead">
    <label class="control-label col-sm-2" for="to">To:</label>
    <div class="col-sm-9">

      <select name = "to_list" id="to_list" class="selectpicker dropup" multiple data-live-search="true" data-done-button="true" data-live-search-placeholder="Search for people here..." data-width="100%" data-size="5">
          <!--<option value="default" disabled="disabled" selected="selected">Choose recipient</option>-->
          {% for a_user in users %}
            {% if a_user.first_name %}
              <option value="{{a_user.id}}">{{a_user.first_name}} {{a_user.last_name}}</option>
            {% else %}
              <option value="{{a_user.id}}">{{a_user.username}}</option>
            {% endif %}
          {% endfor %}
      </select>

    </div>
  </div>
  <div class="msgHead">
    <label class="control-label col-sm-2" for="title">Subject:</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="title" id="title" placeholder="Subject">
    </div>
  </div>
  <div class="">
    <div class="msgNewBox">
      <label class="control-label col-sm-2" for="message">Message:</label>
      <div class="col-sm-9">
        <textarea class="form-control scroll-400" rows="50" name="message" id="message"></textarea>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info pull-right">Send</button>
    </div>
  </div>
</form>

</div>




<script>
$(document).ready(function() {
    $('.selectpicker').selectpicker();
});
</script>
