

<form class="" action="/messages/reply/" method="post">
<div class="msgBox">

  <div class="msgTitle">
    <span class="msgSubject">{{thisMessage.title}}</span>
  </div>
  <div class="msgBody">
    <p class="msgBodyText">
      {{thisMessage.body|linebreaksbr}}
    </p>
    <input type="hidden" name="oldSubject" value="{{thisMessage.title}}">
    <input type="hidden" name="senderID" value="{{thisMessage.sender.id}}">
  </div>
</div>
<div class="msgReply">

    {% csrf_token %}
    <textarea name="messageReply" rows="4" cols="40" class="replyTextArea" id="msgReplyBox" placeholder="Reply..."></textarea>
    <input type="submit" name="name" value="Send" class="btn btn-info pull-right">

</div>
</form>
