{% extends 'base.html' %}
{% load staticfiles %}

{% block head-postload %}

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!-- Include Bootstrap-select CSS, JS-->
<link rel="stylesheet" href="{% static 'messenger/css/bootstrap-select.min.css' %}" />

{% endblock %}

{% block content %}

<div class="">
ok

</div>



{% endblock %}
