table {
        width: 100%;
        border-top: 1px solid rgb(221,221,221);
        border-bottom:1px solid rgb(221,221,221);
        border-left: 1px solid rgb(221,221,221);
        border-right: 1px solid rgb(221,221,221);
    }

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 40px;
    text-align: left;
}


tbody {
    height: 460px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    float: left;
    width:50%;
}



.msgList{
  height:500px;
  margin-bottom: 20px;
}

.msgTitle{
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgb(221,221,221);
  border-right: 1px solid rgb(221,221,221);
  border-top: 1px solid rgb(221,221,221);
  height:40px;
  padding-top: 5px;
}

.msgBody{
  background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(221,221,221);
  border-left: 1px solid rgb(221,221,221);
  border-right: 1px solid rgb(221,221,221);
  height: 320px;
  overflow-y: scroll;
}

.msgSubject{
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}
.msgBodyText{
  font-size: 14px;
  padding: 15px;
}

.msgInactive{
  background-color: #eee;
}

.replyTextArea{
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  height:100px;
  border: none;
}

.msgReply{
  margin-top:0px;
  height:100px;
  margin-bottom: 20px;
  border: 1px solid rgb(221,221,221);
}

.newButton{
  margin-bottom: 20px;
}

.msgHead{
  background-color: rgb(255, 255, 255);
  border-left: 1px solid rgb(221,221,221);
  border-right: 1px solid rgb(221,221,221);
  border-top: 1px solid rgb(221,221,221);
  height:40px;

  padding: 2px;
  margin-bottom: 0px;
}

.scroll-400{
  height:416px;
  max-height: 410px;
  border: 1px solid rgb(221,221,221);
  background-color: rgb(255, 255, 255);
}

.msgNewBox{
  height:420px;
  border: 1px solid rgb(221,221,221);
  background-color: rgb(255, 255, 255);
  padding:3px;
}

/* Small screen extras */

@media screen and (max-width: 750px) {

  .msgList{
    height:200px;
  }

  .msgBody{
    height:300px;
  }
  .msgHead{
    height:80px;
  }

  .scroll-400{
    height:385px;
    max-height: 385px;
  }
}
