<!-- Trigger for the modal (button) -->

  <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#CommentModal">Comment on this page</button>

<!-- Modal -->
  <div class="modal fade" id="CommentModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Comment on '{{request.path}}' as {{request.user.name}}</h4>
        </div>
        <div class="modal-body">
          <p>Please write your comment below</p>
          <form class="commentform" action="/comments/submit_comment/" method="post">
            {{csrf_token}}
            <input type="textarea" name="comment" value="">

        </div>
        <div class="modal-footer">
          <input type="button" name="name" value="" role = "button" class="btn btn-default">Submit comment</a>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
        </form>
      </div>

    </div>
  </div>
