<!-- Trigger for the modal (button) -->

<div class="col-md-12 commentButtonDiv">
  <button type="button" class="btn btn-danger pull-right" data-toggle="modal" data-target="#CommentModal">Comment on this page</button>
</div>

<!-- Modal -->
  <div class="modal fade" id="CommentModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Comment on '{{request.path}}' as {{request.user.first_name}}</h4>
        </div>
        <div class="modal-body">
          <p>Please write your comment below</p>
          <form class="commentform" action="/comments/submit_comment/" method="post">{% csrf_token %}

            <input type="hidden" name="path" value="{{request.path}}">
            <textarea name="comment" rows="8" cols="40"></textarea>

        </div>
        <div class="modal-footer">
          <input type="submit" name="name" value="Submit comment" role = "button" class="btn btn-default"/>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
        </form>
      </div>

    </div>
  </div>
