{% extends 'base.html' %}
{% load staticfiles %}
{% block head-postload %}

<style media="screen">
.axis text {
  font-size: 12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;

  stroke:black;
  stroke-width: 0.5px;
}

.x.axis path {
  /*display: none;*/
}
</style>

<script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
<script src="{% static 'analysis/js/d3script.js' %}"></script>
<script>
$(document).ready(function(){
  $(function(){
    d3_bar({{barData|safe}}, {{grand_total}});
  });
});
</script>

{% endblock %}

{% block content %}

<div class="row">


  <div class="col-xs-10 col-xs-offset-1">
    <h2>Analyse <a href="/flow/setSystem/{{system.id}}">{{system.name}}</a></h2>
    <hr>
    <p>
      Environmental impact analysis for {{system.name}} &nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-xs btn-custom"data-toggle="collapse" href="#moreInfo" aria-expanded="false" aria-controls="moreInfo">More info...</a>
    </p>
    <div class="collapse" id="moreInfo">
      <div class="well">
        <p>
          <strong>Information </strong>about the analysis
        </p>
      </div>
    </div>

    <hr>

  </div>
</div>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="col-md-6">
      {{processText|safe}}
    </div>


    <div class="chart col-md-6">
      <label><input type="checkbox"> Sort by contribution </label>
    </div>
  </div>
</div>

{% endblock %}
