{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='icon' href='/static/favicon.ico' type='image/x-icon'>
    <link rel='shortcut icon' href='/static/favicon.ico' type='image/x-icon'>
    <title>REDMUD - {% block title %}Default title{% endblock %}</title>

    <!-- Extra items for the header -->
    {% block head-preload %}{% endblock %}

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/style.css' %}" />

    <!-- Extra items for the header -->
    {% block head-postload %}{% endblock %}

  </head>
  <body>

    <div class="main">
      <div class="container">
        <div class="bar-container">

        <nav class="navbar navbar-default nav-top-pad">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand visible-xs" href="#">Menu</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="{% block nav-class-home %}{% endblock %}"><a href="/">Home</a></li>
                <!-- <li class="{% block nav-class-process1 %}{% endblock %}"><a href="/data/process/all/">Processes</a></li> -->
                <li class="{% block nav-class-process %}{% endblock %}"><a href="/flow/systems/">Flow Sheets</a></li>
                <!--<li class="{% block nav-class-subprocess %}{% endblock %}"><a href="/data/subprocess/all/">Subprocesses</a></li>-->
                <!--<li class="{% block nav-class-input %}{% endblock %}"><a href="/data/input/all/">Inputs</a></li>-->
                <!--<li class="{% block nav-class-output %}{% endblock %}"><a href="/data/output/all/">Outputs</a></li>-->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {% if request.user.profile.profile_picture %}<img src="/static/media/{{request.user.profile.profile_picture}}" alt="" width="18" height="18"/>{% endif %} {% if request.user.first_name == "" %}{{request.user}}{% else %}{{user.first_name}}{% endif %}
                    {% if msgNo > 0 %}<span class="badge" id="msgBadgeID">{{msgNo}}</span>{% endif %}<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/accounts/profile">Profile</a></li>
                    <li><a href="/messages/inbox/">Messages {% if msgNo > 0 %} <span class="badge" id="msgBadgeDD">{{msgNo}}</span>{% endif %}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/accounts/logout">Logout</a></li>
                  </ul>
                </li>
                {% else %}
                <li>
                  <a href="/accounts/login/">Login</a>
                </li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>

          <div class="col-xs-12" id="content">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class = "{{message.tags }}"{% endif %}>{{message}}</li>
            {% endfor %}
          </ul>
          {% endif %}
          {% if dismissMessage %}
          <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{dismissMessage.body|linebreaks}}
          </div>
          {% endif %}



          {% block content %}
            Nothing to see here
          {% endblock %}

          {% include 'comment_include.html' %}

          </div>
          <footer class="footer">
            <p class = "whitetext">&copy; ETN-MSCA REDMUD 2015</p>
          </footer>


        </div>



      </div>

      {% block altcontent %}{% endblock %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
