{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Inputs{% endblock %}
{% block nav-class-process %}active{% endblock %}

{% block head-postload %}

<style media="screen">
.node {
		cursor: pointer;
	}
</style>

<link rel="stylesheet" href="http://swisnl.github.io/jQuery-contextMenu/css/theme.css" type="text/css"/>
<link href="http://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.min.css" rel="stylesheet" type="text/css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.min.js" type="text/javascript"></script>

<script src="http://swisnl.github.io/jQuery-contextMenu/dist/jquery.ui.position.min.js" type="text/javascript"></script>


<link rel="stylesheet" href="{% static 'data/css/graphviz.svg.css' %}">

<script type="text/javascript" src="https://cdn.rawgit.com/jquery/jquery-mousewheel/master/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/jquery/jquery-color/master/jquery.color.js"></script>
<script type="text/javascript" src="js/jquery.graphviz.svg.js"></script>

<script src="{% static 'data/js/jquery.graphviz.svg.js' %}"></script>
<script src="{% static 'data/js/viz.js' %}"></script>


{% endblock %}

{% block content %}

<h2>Flow chart for {{process.name}}</h2>

{% if LCI %}



{% endif %}

{% endblock %}
