{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Inputs{% endblock %}
{% block nav-class-process %}active{% endblock %}

{% block content %}

<h2>LCI results for {{process.name}}</h2>

{% if LCI %}

<table>
  <tr>
    <th>
      Input
    </th>
    <th>
      Total amount required
    </th>
    <th>
      Estimated carbon footprint
    </th>
  </tr>
  {% for item in LCI %}
  <tr>
    <td>
      {{item.key}}
    </td>
    <td>
      {{item.total_amount}}
    </td>
    <td>
      item.total_footprint
    </td>
  </tr>
  {% endfor %}
  <tr>
    <th>
      Total
    </th>
    <th>

    </th>
    <th>
      {{grand_total}}
    </th>
  </tr>
</table>

{% endif %}

{% endblock %}
