{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Add {{action}} {{type}}
{% endblock %}

{% block head-preload %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endblock %}

{% block head-postload %}

<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic'
      rel='stylesheet' type='text/css'>



<link rel="stylesheet" href="{% static 'data/css/graphviz.svg.css' %}">
<link rel="stylesheet" href="{% static 'flowdata/css/flowstyle.css' %}">

<script src="{% static 'data/js/jquery.graphviz.svg.js' %}"></script>
<script src="{% static 'data/js/viz.js' %}"></script>

<!-- Include Bootstrap-select CSS, JS -->
<link rel="stylesheet" href="{% static 'messenger/css/bootstrap-select.min.css' %}" />
<script src="{% static 'messenger/js/bootstrap-select.min.js' %}"></script>

<style media="screen">
input {
  width:100%;
  max-width: 100%;
}

/*select {
  width:100%;
  max-width: 100%;
}*/

textarea {
  width:100%;
  max-width: 100%;
}

.tooltip-inner {
    white-space:pre-wrap;
}

</style>

{% endblock %}

{% block content %}



<div class="col-md-6">

<form class="" action="/flow/{{action}}{{type}}Confirm{% if editID %}{{editID}}{% endif %}/" method="post">{% csrf_token %}

<div class="col-md-12">

      <div class="col-md-4">
        <label for="{{ form.techFlow.id_for_label }}">Name of process to link to:</label>
      </div>
      <div class="col-md-6">
        <select name = "transformation" id="transformation" class="selectpicker" data-live-search="true" data-done-button="true" data-live-search-placeholder="Search..." data-width="100%" data-size="5">
            <option value="default" disabled="disabled" {% if request.GET.i %}{% else %} selected="selected" {% endif %}>-------</option>
            {% for anItem in dropDown %}
                <option value="{{anItem.id}}" {% if request.GET.i == anItem.id|stringformat:"i" %} selected="selected" {% endif %}>{{anItem.name}}</option>
            {% endfor %}
        </select>
      </div>


    <div class="col-md-2">
      <a href="/flow/create{{type}}Setup/" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-plus"></span> New</a>
    </div>

  </div>
  <div class="col-md-12">
    {{form.techFlow}}{{form.partOfSystem}}
    <div class="col-md-4">
      <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom"
        title="Input the quantity here"
      ></span>
      <label for="{{ form.amount_required.id_for_label }}">Amount:</label>
    </div>
    <div class="col-md-8">
      {{form.amount_required}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4">
      <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="bottom"
        title="Add any notes or assumptions here"
      ></span>
      <label for="{{ form.note.id_for_label }}">Note:</label>
    </div>
    <div class="col-md-8">
      {{form.note}}
    </div>
  </div>
  <div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <button type="submit" class="btn btn-info" name="name">{% if editID %}Update{% else %}Add{% endif %}</button><a class="btn btn-danger" href="/flow/scan/">Cancel</a>
    </div>
  </div>

</form>



</div>
<div id="graph" class="col-md-6">

</div>


<script type="text/javascript">

  $(function(){

    console.log('about to try to activate the select picker')
    $('.selectpicker').selectpicker();
    console.log('done trying to activate the select picker')

    $('[data-toggle="tooltip"]').tooltip();


    var svg_div = $('#graph');
    //var graphviz_data_textarea = jQuery('#graphviz_data');

    svg_div.html("");
    //var data = graphviz_data_textarea.val();
    //console.log(data);

    // Generate the Visualization of the Graph into "svg".
    var svg = Viz('{{dotString|safe}}', "svg");
    svg_div.html(svg);

    shape = document.getElementsByTagName("svg")[0];
    //var wc = svg_div.width()
    //var hc = svg_div.height()
    var w = parseFloat(shape.getAttribute("width").replace("pt",""))
    var h = parseFloat(shape.getAttribute("height").replace("pt",""))

    shape.setAttribute("viewBox", "0 0 " + w + " " + h);
    shape.setAttribute("height", "100%")
    shape.setAttribute("width", "100%")

    $('.node').each(function(){
      $thisnode = $( this );
      myType = $thisnode.attr("id").split(" ");
      $thisnode.attr("id", myType[1])
      //console.log(myType);
      $thisnode.attr("class", "node " + myType[0]);
      //console.log(this)
    });});

</script>
<!--<script src="{% static 'flowdata/js/flowscript.js' %}"></script>-->


<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script src="http://swisnl.github.io/jQuery-contextMenu/js/theme.js"></script>

{% endblock %}
