{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Flowchart Test
{% endblock %}

{%block head-preload %} <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endblock %}


{% block head-postload %}

<link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Roboto+Slab:400,700|Inconsolata:400,700&subset=latin,cyrillic'
      rel='stylesheet' type='text/css'>


<!-- <link rel="stylesheet" href="http://swisnl.github.io/jQuery-contextMenu/css/theme.css" type="text/css"/> -->
<link href="http://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.min.css" rel="stylesheet" type="text/css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://swisnl.github.io/jQuery-contextMenu/dist/jquery.contextMenu.min.js" type="text/javascript"></script>
<script src="http://swisnl.github.io/jQuery-contextMenu/dist/jquery.ui.position.min.js" type="text/javascript"></script>


<link rel="stylesheet" href="{% static 'data/css/graphviz.svg.css' %}">
<link rel="stylesheet" href="{% static 'flowdata/css/flowstyle.css' %}">

<script type="text/javascript" src="https://cdn.rawgit.com/jquery/jquery-mousewheel/master/jquery.mousewheel.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/jquery/jquery-color/master/jquery.color.js"></script>

<script src="{% static 'data/js/jquery.graphviz.svg.js' %}"></script>
<script src="{% static 'data/js/viz.js' %}"></script>

<style media="screen">
  .btn{
    margin-top: 15px;
  }
</style>

{% endblock %}

{% block content %}


<!-- <div>
  {{processList}}<br><br>
</div>
-->
<div class="col-md-12 text-center" style="margin-bottom:25px;">
  <h1>View and edit the <span style="color:rgb(139,0,0)">{{request.session.currentSystemName}}</span> flow sheet</h1>

</div>
<div id="controls" class="col-md-4 text-center">

<p>
  Use this screen to edit your flow sheet.
</p>
<p>
  You can edit any of the existing items in the flow sheet by clicking on them and choosing an option from the menu.
</p>
<p>
  You can also add a new process to the flowsheet by right-clicking anywhere on the diagram.
</p>
<p>
  Alternatively you can click on the buttons below.
</p>


<div class="buttons col-md-8 col-md-offset-2">

<h2 class="text-center">Controls</h2>

  <p>
    <a href="addProcess|system|{{request.session.currentSystemName|slugify}}|{{request.session.currentSystemID}}" class="btn btn-primary btn-xs col-lg-12" style="white-space: normal;" id="AddProcessButton">Add a new process to the flowsheet</button></a>
  </p>

  <p>
    <a class="btn btn-primary btn-xs col-lg-12" style="white-space: normal;" id="NewInputButton">Add a new input to a process</a>
  </p>

  <br>
  <a class="btn btn-primary btn-xs col-lg-12" style="white-space: normal;" id="NewOutputButton">Add a new output (to the environment) to a process</a>
  <br>
  <a class="btn btn-primary btn-xs col-lg-12" style="white-space: normal;" id="NewTechOutputButton">Add an intermediate output (an potential input to another process) to a process</a>
  <br>
  <a class="btn btn-primary btn-xs col-lg-12" style="white-space: normal;" id="LinkTechOuputButton">Link an intermediate output to another process</a>
</div>
</div>
<div id="graph" class="col-md-8" style="border:1px solid rgb(127,127,127)"></div>

<script type="text/javascript">

  $(function(){

    var svg_div = $('#graph');
    //var graphviz_data_textarea = jQuery('#graphviz_data');

    svg_div.html("");
    //var data = graphviz_data_textarea.val();
    //console.log(data);

    // Generate the Visualization of the Graph into "svg".
    var svg = Viz('{{dotString|safe}}', "svg");
    svg_div.html(svg);

    shape = document.getElementsByTagName("svg")[0];
    var w = parseFloat(shape.getAttribute("width").replace("pt",""))
    var h = parseFloat(shape.getAttribute("height").replace("pt",""))

    shape.setAttribute("viewBox", "0 0 " + w + " " + h);
    shape.setAttribute("height", "100%")
    shape.setAttribute("width", "100%")

    $('.node').each(function(){
      $thisnode = $( this );
      myType = $thisnode.attr("id").split(" ");
      $thisnode.attr("id", myType[1])
      //console.log(myType);
      $thisnode.attr("class", "node " + myType[0]);
      //console.log(this)
    });

    $background = $('svg > g > polygon');
    $background.attr('class', 'graph_svg');
    sname = "{{system.name}}"
    $background.attr('id', 'system|' + sname.replace(" ","_") + '|{{system.id}}');

    //console.log(shape);

  });

</script>
<script src="{% static 'flowdata/js/flowscript.js' %}"></script>

<script type="text/javascript">

$.contextMenu({
    selector: '#NewInputButton',
    trigger: 'left',
    callback: function(key, options) {
        var m = "clicked: " + key;
        var command = key ;//+ "|" + options.$trigger[0].id;
        console.log(command);
        window.location = command;
    },
    items: {
        "Nothing":{name:"Choose a process to add an input to", disabled:true},
        "sep1": "---------",
        {% for key, value in processNames.iteritems  %}
        "Add_input|Process|{{value|slugify}}|{{key}}": {name: "{{value}}", icon:"right"},
        {% empty %}
        "Nothing":{name:"No processes created yet", disabled:true},
        {% endfor %}
    }
});

$.contextMenu({
    selector: '#NewOutputButton',
    trigger: 'left',
    callback: function(key, options) {
        var m = "clicked: " + key;
        var command = key ;//+ "|" + options.$trigger[0].id;
        console.log(command);
        window.location = command;
    },
    items: {
        "Nothing":{name:"Choose a process to add an output to", disabled:true},
        "sep1": "---------",
        {% for key, value in processNames.iteritems  %}
        "Add_output|Process|{{value|slugify}}|{{key}}": {name: "{{value}}", icon:"left"},
        {% empty %}
        "Nothing":{name:"No processes created yet", disabled:true},
        {% endfor %}
    }
});

$.contextMenu({
    selector: '#NewTechOutputButton',
    trigger: 'left',
    callback: function(key, options) {
        var m = "clicked: " + key;
        var command = key ;//+ "|" + options.$trigger[0].id;
        console.log(command);
        window.location = command;
    },
    items: {
        "Nothing":{name:"Choose a process to add an output to", disabled:true},
        "sep1": "---------",
        {% for key, value in processNames.iteritems  %}
        "Add_Tech_Output|Process|{{value|slugify}}|{{key}}": {name: "{{value}}", icon:"left"},
        {% empty %}
        "Nothing":{name:"No processes created yet", disabled:true},
        {% endfor %}
    }
});

$.contextMenu({
    selector: '#LinkTechOuputButton',
    trigger: 'left',
    callback: function(key, options) {
        var m = "clicked: " + key;
        var command = key ;//+ "|" + options.$trigger[0].id;
        console.log(command);
        window.location = command;
    },
    items: {
        "Nothing":{name:"Choose an intermediate to link to a process", disabled:true},
        "sep1": "---------",
        {% for key, value in techOutputNames.iteritems  %}
        "linkProcess|Process|{{value|slugify}}|{{key}}": {name: "{{value}}", icon:"right"},
        {% empty %}
        "Nothing":{name:"No intermediate outputs created yet", disabled:true},
        {% endfor %}
    }
});

</script>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script src="http://swisnl.github.io/jQuery-contextMenu/js/theme.js"></script>

{% endblock %}
